@import "../../variables.scss";
@import "../../mixins.scss";

.formContainer {
  @include data-container;
}

.cityNameInput {
  height: 30px;
  background-color: var(--color-primary);
  width: 60%;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--border-color);
}

.submitCity {
  @include button-basic;
}
