@import "../../mixins.scss";

.listElement {
  color: var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
  &:hover {
    color: var(--border-focused);
    border-bottom: 1px solid var(--border-focused);
  }
}

.basicInfo {
  float: right;
  font-size: 1.2rem;
}

.actionsContainer {
  float: right;
}

.removeCityButton {
  @include button-basic;
  margin: 0 10px 0 0;
  min-width: 80px;
}

.showDataButton {
  @include button-basic;
  margin: 0 10px 0 0;
  min-width: 80px;
}

.cityName {
  font-size: 1.2rem;
}

.cityNameContainer {
  width: 50%;
  height: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  @include breakpoint(xs) {
    flex-direction: column;
  }
}
