@import "../../mixins.scss";

@mixin overlay-container {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  height: 400px;
  margin-top: 15px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.image {
  height: 100%;
  width: auto;
}

.gradientEffect {
  @include overlay-container;
  background: linear-gradient(
    322deg,
    rgba(44, 62, 80, 0.9) 0%,
    rgba(76, 161, 175, 0.9) 100%
  );
}

.weatherData {
  @include overlay-container;
  padding-left: 5%;

  .detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
  }

  .cityName {
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
  }
  .weatherDataElement {
    font-size: 1.1rem;
    color: white;
    margin: 0;
  }
  .weatherDate {
    font-size: 0.8rem;
    color: white;
    margin-top: 25px;
  }
}
