@import "./variables.scss";
@import "./mixins.scss";

.App {
  background-color: var(--color-primary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 60%;
  @include breakpoint(xs) {
    width: 96%;
  }
}
