@mixin linear-gradient-image($opacity) {
  background-color: linear-gradient(
    322deg,
    rgba(44, 62, 80, 1) 0%,
    rgba(76, 161, 175, 1) $opacity
  );
}

@mixin data-container {
  margin-top: 5%;
  min-height: 100px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--border-radius);
}

@mixin button-basic {
  border: 1px solid var(--border-color);
  background-color: transparent;
  height: 30px;
  color: var(--border-color);
  cursor: pointer;
  min-width: 100px;
  transition: background-color 200ms linear;
  border-radius: var(--border-radius);
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
